.ErrorMessage {
  font-size: 1.4rem;
  text-align: center;
  word-wrap: normal;
  padding: 1rem;
  width: 100%;
  background-color: var(--danger);
  color: var(--white);
  margin-bottom: 2rem;
  border-radius: 4px;
}
