@import '../../styles/Variables.scss';
@import '../../styles/ResponsiveSheet.scss';

.Button {
  min-width: 80px;
  height: 40px;
  max-width: 300px;
  appearance: none;
  border: none;
  user-select: none;
  background-color: var(--main);
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease-in;
  padding: 0.8rem 1.8rem;
  font-size: 1.7rem;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(0.98);
    filter: brightness(120%);
  }

  @include respond($MOBILE) {
    min-width: 50px;
    height: 35px;
  }

  &.Danger {
    background-color: transparent;
    border: 1px solid var(--danger);
    color: var(--danger);
    transition: all 0.2s ease;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
      width: 100%;
      height: 0;
      z-index: -1;
      background-color: var(--danger);
      transition: all 0.5s ease;
    }

    &:hover {
      transform: none;
      filter: none;
      color: var(--white);
      &::before {
        height: 250%;
      }
    }
  }

  &.FixedWidth {
    min-width: 200px;
  }

  &.Shine {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      overflow: hidden;
      user-select: none;
      z-index: 2;
      opacity: 0.6;
      border-right: 8px solid var(--white);
      transform: skewX(-45deg);
      transform-origin: left bottom;
      animation: shine 3s ease infinite;
    }
  }

  &.Disabled {
    cursor: not-allowed;
    opacity: 0.7;

    &:hover {
      transform: none;
      filter: none;
    }
  }

  &.Small {
    height: 30px;
    padding: 0.8rem 1.8rem;
    font-size: 1.8rem;
    border-radius: 4px;

    @include respond($TABLET) {
      font-size: 1.6rem;
      padding: 0.8rem 1.6rem;
    }

    @include respond($MOBILE) {
      font-size: 1.8rem;
      padding: 1rem 1.8rem;
    }
  }

  &.Large {
    padding: 1.2rem 2.3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
  }

  &.Uppercase {
    text-transform: uppercase;
  }

  &.Capitalize {
    text-transform: capitalize;
  }

  @include respond($TABLET) {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }

  @include respond($MOBILE) {
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
  }
}

.Spinner {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 2px solid var(--white);
  animation: rotate 0.5s infinite linear;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes shine {
  0% {
    width: 0;
  }
  20% {
    opacity: 0;
    width: 85%;
  }
  100% {
    opacity: 0;
  }
}
