@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.Reviews {
  width: 90%;
  margin: auto;
  padding: 0 0 2rem 0;

  .Heading {
    font-size: 3rem;
    font-weight: 500;
    color: var(--main);
    margin-bottom: 2rem;
    line-height: 100%;
  }

  .ReviewsContainer {
    width: 100%;
    margin-bottom: 2rem;

    .Review {
      display: grid;
      grid-template-columns: 50px 1fr;
      border-bottom: 0.5px solid var(--main);
      padding: 1rem 0;

      .UserIcon {
        margin-top: 0.3rem;
        justify-self: center;

        @include respond($MOBILE) {
          margin-top: 0.5rem;
        }

        svg {
          font-size: 2rem;
          color: var(--main);
        }
      }

      .ReviewDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .UserDetails {
          display: flex;
          align-items: flex-start;
          margin-bottom: 0.2rem;
          .UserDetail {
            margin-right: 1rem;
            .Username {
              font-size: 1.4rem;
              text-transform: capitalize;
              font-weight: 500;
              line-height: 120%;
              color: var(--main);

              @include respond($MOBILE) {
                font-size: 1.6rem;
              }
            }

            .Days {
              font-size: 1rem;
              opacity: 0.7;
              margin-bottom: 0.5rem;
            }
          }
          .UserStar {
            background-color: var(--main);
            color: var(--white);
            padding: 0 0.4rem;
            border-radius: 2px;
            margin-top: 0.2rem;

            p {
              display: flex;
              align-items: center;
              span {
                font-size: 1.2rem;
                margin-right: 0.2rem;
              }
            }
          }
        }

        .UserTitle {
          font-size: 1.3rem;
          font-weight: 500;

          @include respond($MOBILE) {
            font-size: 1.4rem;
          }
        }

        .UserReview {
          opacity: 0.8;
          font-size: 1.2rem;
        }
      }
    }
  }

  .AddReview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .AddReviewContainer {
      border-radius: 4px;
      background-color: var(--black);
      border: 1.5px solid var(--main);
      padding: 2rem 2rem;
      text-align: center;
      position: absolute;
      bottom: 200%;
      right: 6rem;
      transform: scale(0);
      transition: transform 0.2s ease-in;
      transform-origin: bottom right;

      @include respond($MOBILE) {
        right: 4rem;
      }

      &.Active {
        z-index: 20;
        transform: scale(1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        background-color: var(--main);
        transform: rotate(45deg);
      }

      .StarContainer {
        width: 100%;

        .Star {
          color: var(--white);
          font-size: 3rem;
          cursor: pointer;
          transition: color 0.2s ease;

          &.Active {
            color: var(--gold);
          }

          &.FiveStar {
            svg {
              -webkit-filter: drop-shadow(0 0 5px rgba(255, 192, 82, 0.8));
              filter: drop-shadow(0 0 5px rgba(255, 192, 82, 0.8));
            }
          }

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }

      .ReviewTitle {
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--main);
        margin-bottom: 1rem;
      }

      .FormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ReviewInputContainer {
          position: relative;
          textarea {
            resize: none;
            margin-bottom: 1.5rem;
            padding: 1rem;
            font-size: 1.8rem;

            &::placeholder {
              font-size: 2rem;
              text-transform: capitalize;
            }
          }

          .ReviewLength {
            position: absolute;
            bottom: 3rem;
            right: 1rem;
            width: 3.5rem;
            height: 3.5rem;
            background-color: var(--main);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
