@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.Reviews {
  width: 90%;
  margin: auto;
  padding: 0 0 2rem 0;

  .Heading {
    font-size: 3rem;
    font-weight: 500;
    color: var(--main);
    margin-bottom: 2rem;
    line-height: 100%;
  }

  .ReviewsContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .AddReview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
