@import '../../../styles/Variables.scss';
@import '../../../styles/ResponsiveSheet.scss';

.Backdrop {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: rgba($backdrop, 0.8);
  border-radius: 50%;
  z-index: 5;
  transform: scale(0);
  transition: transform 0.5s ease;

  @include respond($TABLET) {
    top: 2rem;
    right: 3rem;
  }

  @include respond($MOBILE) {
    top: 1rem;
    right: 1rem;
  }

  &.Active {
    transform: scale(100);
  }

  &.Close {
    transform: scale(0);
  }
}
