// Responsive styles
$MOBILE: "MOBILE";
$TABLET: "TABLET";
$LAPTOP: "LAPTOP";

// Device Sizes
$mobile-size: 600px;
$tablet-size: 900px;
$laptop-size: 1300px;

// Variables
$backdrop: #000;

// Darkmode transition
$darkTransition: background-color 0.2s linear, color 0.15s ease;
