
// Responsive styles
$MOBILE: "MOBILE";
$TABLET: "TABLET";
$LAPTOP: "LAPTOP";

// Device Sizes
$mobile-size: 600px;
$tablet-size: 900px;
$laptop-size: 1300px;

// Variables
$text-dark: #333;
$black: #000;
$white: #fff;
$gray: #ccc;
