.BreadCrumb {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  font-size: 2rem;
  align-items: center;
  text-transform: capitalize;

  a {
    text-decoration: none;
    color: var(--main);

    svg {
      margin: 0 2rem;
    }
  }

  svg {
    margin: 0 2rem;
    color: var(--main);
  }
}
