@import "../../../../styles/Variables.scss";
@import "../../../../styles/ResponsiveSheet.scss";

.NavItem {
  font-size: 2rem;
  position: relative;
  transition: 0.2s ease;

  @include respond($TABLET) {
    width: 200px;
  }

  &:not(:last-child) {
    margin-right: 6rem;

    @include respond($TABLET) {
      margin-right: 0;
      margin-bottom: 4rem;
    }
  }

  &.ShrinkNavItem {
    font-size: 1rem;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    .NavLink {
      .IconContainer {
        svg {
          font-size: 2.5rem;
        }
        .CartCount {
          width: 2rem;
          height: 2rem;
        }
      }

      p {
        display: none;
      }
    }
  }

  .NavLink {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-decoration: none;

    @include respond($TABLET) {
      color: var(--white);
      flex-direction: row;
      align-items: center;
    }

    .IconContainer {
      position: relative;

      svg {
        margin-right: 1rem;
        color: var(--grey);
        opacity: 0.8;
        font-size: 3.5rem;
        transition: font-size 0.2s ease, color 0.2s ease-in;
        transition: 0.2s ease;

        @include respond($TABLET) {
          margin-right: 2rem;
          margin-bottom: 2rem;
          transform: translateY(20%);
        }
      }
      .CartCount {
        width: 2.5rem;
        height: 2.5rem;
        color: var(--black);
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -38%;
        right: 2%;
        background-color: var(--white);
        border-radius: 50%;
        line-height: 100%;
        z-index: 2;

        @include respond($TABLET) {
          top: -10%;
          right: 15%;
          font-size: 1.5rem;
        }
      }
    }

    p {
      color: var(--white);
      transform-origin: top;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: scaleY(0) translate(-50%, -100%);
      transition: transform 0.3s ease, opacity 0.2s ease;

      @include respond($TABLET) {
        font-size: 2.5rem;
        position: static;
        opacity: 1;
        transform: scaleY(1) translate(0, 0);
      }
    }

    &:hover p {
      opacity: 1;
      transform: scaleY(1) translate(-50%, -10%);

      @include respond($TABLET) {
        transform: scaleY(1) translate(0, 0);
      }
    }
  }

  .ActiveLink {
    .IconContainer {
      svg {
        color: var(--white);
        opacity: 1;

        @include respond($TABLET) {
          color: var(--main);
        }
      }
    }
  }
}
