@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.carousel.carousel-slider .control-arrow {
  width: 100px;

  @include respond($TABLET) {
    width: 60px;
  }

  @include respond($MOBILE) {
    display: none;
  }
}
