@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.Slide {
  height: 400px;
  transition: height 0.2s;
  cursor: pointer;

  @include respond($TABLET) {
    height: 350px;
  }

  @include respond($MOBILE) {
    height: 250px;
  }

  & .Banner {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.carousel.carousel-slider .control-arrow {
  width: 60px;
}
