@import '../../../styles/Variables.scss';
@import '../../../styles/ResponsiveSheet.scss';

.Button {
  appearance: none;
  border: none;
  background-color: var(--main);
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease-in;
  position: relative;

  &.Shine {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      opacity: 0.8;
      overflow: hidden;
      transform: skewX(-45deg);
      background-image: linear-gradient(
        to right,
        var(--white),
        var(--white) 5px,
        transparent 10px
      );
      transform-origin: left bottom;
      animation: shine 3s ease infinite;
    }
  }

  &.Small {
    padding: 0.8rem 1.8rem;
    font-size: 1.8rem;
    border-radius: 4px;

    @include respond($TABLET) {
      font-size: 1.6rem;
    }
  }

  &.Large {
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
  }

  &.Uppercase {
    text-transform: uppercase;
  }

  &.Capitalize {
    text-transform: capitalize;
  }

  &:hover {
    transform: scale(0.98);
    filter: brightness(120%);
  }
}

@keyframes shine {
  0% {
    transform: skewX(-45deg) translateX(0%);
  }
  20% {
    transform: skewX(-45deg) translateX(100%);
  }
  22% {
    opacity: 0;
  }
  100% {
    transform: skewX(-45deg) translateX(100%);
    opacity: 0;
  }
}
