@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.UpdatePasswordContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;

  @include respond($MOBILE) {
    align-items: center;
  }
  h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--main);
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond($MOBILE) {
      align-items: center;
    }

    .InputGroup {
      width: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      @include respond($MOBILE) {
        align-items: center;
      }

      &.Error {
        input {
          &:focus {
            border-bottom: 2px solid var(--danger);
          }
        }
      }

      label {
        color: var(--main);
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        @include respond($MOBILE) {
          align-self: flex-start;
        }
      }

      input {
        width: 300px;
        max-width: 100%;
        color: var(--primary);
        border: none;
        padding: 0.8rem 1.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        background: transparent;
        border-bottom: 2px solid var(--text-dark);
        transition: all 0.1s linear;

        @include respond($MOBILE) {
          font-size: 1.8rem;
          padding: 1rem 1.5rem;
        }

        &:focus {
          outline: none;
          border-bottom: 2px solid var(--main);
        }
      }
    }

    .ShowPassword {
      cursor: pointer;
      align-self: flex-start;
      margin: 1rem 0 2rem 0;

      @include respond($MOBILE) {
        width: 300px;
        max-width: 100%;
        margin: 2rem auto;
      }

      .Checkbox {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
      }

      .Checkbox:checked + .Label .Checkmark {
        background-color: var(--main);
      }

      .Checkbox:checked + .Label .Checkmark::after {
        display: block;
      }

      .Label {
        color: var(--main);
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        @include respond($MOBILE) {
          font-size: 1.6rem;
        }

        .Checkmark {
          display: inline-block;
          position: relative;
          height: 1.8rem;
          width: 1.8rem;
          margin-right: 0.8rem;
          border: 1px solid var(--main);
          border-radius: 50%;

          @include respond($MOBILE) {
            height: 2rem;
            width: 2rem;
          }

          &::after {
            content: "";
            position: absolute;
            left: 20%;
            top: 50%;
            width: 3px;
            height: 8px;
            border: solid var(--white);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg) translate(-50%, -50%);
            display: none;
          }
        }
      }
    }
  }
}
