@import "../../../styles/ResponsiveSheet.scss";
@import "../../../styles/Variables.scss";

.NavbarToggler {
  position: relative;
  color: var(--white);
  cursor: pointer;
  width: 4.4rem;
  height: 3rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 50;

  &.Active span:nth-child(2) {
    transform-origin: center;
    transform: translateX(-120%);
  }

  &.Active span:nth-child(1) {
    transform-origin: center;
    transition-delay: 0.3s;
    transform: translateY(250%) rotate(45deg);
  }

  &.Active span:nth-child(3) {
    transform-origin: center;
    transition-delay: 0.4s;
    transform: translateY(-230%) rotate(-45deg);
  }

  & span {
    display: block;
    width: 80%;
    height: 0.5rem;
    border-radius: 2rem;
    transition: transform 0.2s ease, background-color 0.1s ease-out;

    background-color: var(--white);
  }

  &.Active span {
    background-color: var(--white);
  }

  @include respond($TABLET) {
    display: flex;
  }
}
