@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.CounterContainer {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  button {
    appearance: none;
    border: 1px solid var(--main);
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    color: var(--main);
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;

    @include respond($TABLET) {
      padding: 0.5rem;
    }

    &:hover,
    &:active {
      color: var(--white);
      background-color: var(--main);
    }

    &:nth-child(1) {
      margin-right: 2rem;
      @include respond($TABLET) {
        margin-right: 1rem;
      }
    }

    &:last-child {
      margin-left: 2rem;
      @include respond($TABLET) {
        margin-left: 1rem;
      }
    }

    svg {
      font-size: 2rem;
    }
  }

  .Count {
    margin-top: -0.4rem;
    font-size: 4rem;
    font-weight: 500;

    @include respond($TABLET) {
      font-size: 3.3rem;
    }
  }
}
