.SearchingAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.BgDark {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.BannerImage {
    div {
      height: 70%;
    }
  }

  div {
    width: 40%;
    height: 50%;
    border-top: 5px solid var(--main);
    border-bottom: 5px solid var(--main);
    border-radius: 50%;
    animation: searchAnimation 0.8s linear infinite;
  }
}

@keyframes searchAnimation {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
}
