@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.Filter {
  color: var(--primary);
  height: 100vh;
  position: sticky;
  top: 50px;
  padding: 1rem 1.5rem;
  border-right: 1px solid var(--main);
  border-top: 1px solid var(--main);

  @include respond($MOBILE) {
    color: var(--black);
    border-right: unset;
    border-top: unset;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    height: 70vh;
    width: 250px;
    background-color: #fff;
    padding: 1rem 3rem;
    position: fixed;
    top: unset;
    bottom: 12rem;
    right: 2rem;
    z-index: 2;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;

    &.ToggleFilter {
      transform: scale(1) !important;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1.6rem;
      right: 2rem;
      width: 3rem;
      height: 3rem;
      background-color: var(--white);
      border-right: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      // box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
      transform: rotate(45deg);
    }
  }

  .CategoryContainer {
    margin-bottom: 1rem;

    .CategoryTitle {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  .CompanyContainer {
    height: 200px;
    margin-bottom: 5rem;

    @include respond($MOBILE) {
      height: 150px;
      margin-bottom: 6rem;
    }

    .CompanyTitle {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .CompanyList {
      max-height: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: var(--main);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--black);
        border-radius: 20px;
        border: 2px solid var(--main);
      }
    }
  }

  .PriceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    .PriceTitle {
      align-self: flex-start;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .PriceLabels {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.4rem;

        @include respond($MOBILE) {
          font-size: 1.8rem;
        }

        &:nth-child(2) {
          font-size: 2.5rem;
          color: var(--main);
        }

        &:nth-child(3) {
          position: relative;
          right: -1rem;
        }
      }
    }
  }

  .ClearFilter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
      appearance: none;
      border: none;
      background-color: var(--main);
      color: var(--white);
      padding: 0.5rem 0.8rem;
      font-size: 1.8rem;
      border-radius: 4px;
      transition: transform 0.2s ease, filter 0.2s ease-in;

      &:hover {
        transform: scale(0.98);
        filter: brightness(120%);
      }
    }
  }
}
