.Spinner {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 2px solid var(--white);
  animation: rotate 0.5s infinite linear;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
