@import "../../styles/Variables.scss";
@import "../../styles/ResponsiveSheet.scss";

.LoginContainer {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .FormContainer {
    width: 100%;
    padding: 3rem;
    border: 1px solid var(--text-dark);
    margin-bottom: 1.5rem;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    );
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ErrorMessage,
    .SuccessMessage {
      font-size: 1.4rem;
      text-align: center;
      word-wrap: normal;
      padding: 1rem;
      width: 100%;
      background-color: var(--danger);
      color: var(--white);
      margin-bottom: 2rem;
      border-radius: 4px;
    }

    .SuccessMessage {
      background-color: var(--success);
    }

    .InputGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        color: var(--black);
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }

      input {
        border: none;
        padding: 0.8rem 1.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        background: transparent;
        border-bottom: 2px solid var(--text-dark);
        transition: all 0.1s linear;
        margin-bottom: 0.8rem;

        @include respond($MOBILE) {
          font-size: 1.8rem;
          padding: 1rem 1.5rem;
        }

        &:focus {
          outline: none;
          border-bottom: 2px solid var(--main);
        }
      }

      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--main);
      }
    }

    button {
      width: 40%;
      height: 40px;
      appearance: none;
      border: none;
      background-color: var(--main);
      text-decoration: none;
      color: var(--white);
      cursor: pointer;
      transition: transform 0.2s ease, filter 0.2s ease-in;
      padding: 0.8rem 1.8rem;
      font-size: 2rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.Disabled {
        cursor: not-allowed;
        opacity: 0.7;

        &:hover {
          transform: none;
          filter: none;
        }
      }

      .Spinner {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border-top: 2px solid var(--white);
        animation: rotate 0.5s infinite linear;

        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

      &:hover {
        transform: scale(0.98);
        filter: brightness(120%);
      }

      @include respond($TABLET) {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
      }

      @include respond($MOBILE) {
        font-size: 1.8rem;
        padding: 1rem 1.8rem;
      }
    }
  }
  .BottomText {
    p {
      font-size: 1.5rem;

      a {
        text-decoration: none;
        color: var(--main);
        margin: 0 0.5rem;
      }
    }
  }
}
