@import "../../../styles/Variables.scss";
@import "../../../styles/ResponsiveSheet.scss";

.ProductsContainer {
  width: 100%;
  border-top: 1px solid var(--main);
  padding: 2rem 1rem;
}

.ProductsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  justify-items: center;
  gap: 2rem;

  @include respond($LAPTOP) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond($TABLET) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond($MOBILE) {
    border-top: 1px solid transparent;
    grid-template-columns: 1fr;
  }
}

.ProductsListView {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
