@import "./styles/Variables.scss";
@import "./styles/ResponsiveSheet.scss";

:root {
  --tertiary: #ccc;
  --primary: #000;
  --secondary: #fff;
  --text-dark: #333;
  --black: #000;
  --white: #fff;
  --main: #2874f0;
  --github: #f1501f;
  --twitter: #1da1f2;
}

[data-theme="dark"] {
  --primary: #f7f7f7;
  --secondary: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond($MOBILE) {
    font-size: 50%;
  }
}

:focus {
  outline: 2px solid var(--secondary);
  outline-offset: 0.5rem;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
}
