@import './styles/Variables.scss';
@import './styles/ResponsiveSheet.scss';

:root {
  --tertiary: #ccc;
  --primary: #111;
  --secondary: #fff;
  --text-dark: #333;
  --black: #000;
  --white: #fff;
  --main: #2874f0;
  --github: #f1501f;
  --twitter: #1da1f2;
  --bgSwitcher: #f5f5f5;
  --gold: #ffc052;
  --danger: #ff4343;
  --success: #22a322;
  --grey: #e0e0e0;
}

[data-theme='dark'] {
  --primary: #f7f7f7;
  --secondary: #111;
  --bgSwitcher: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond($MOBILE) {
    font-size: 50%;
  }
}

:focus {
  outline: 2px solid var(--primary);
  outline-offset: 0.5rem;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
  transition: $darkTransition;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--main);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--main);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

@include respond($MOBILE) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    user-select: none;
  }
}
